@CHARSET "UTF-8";

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #f7f7f7;
}

#top {
	position: relative;
	width: 100%;
	margin-top: 10px;
	top: 10px;
	color: #9acfdc;
	font-size: 50px;
	text-align: center;
	font-family: monospace;
}

.instructions {
	display: inline-block;
	position: fixed;
	width: 100%;
	bottom: 90px;
	height: 50px;
	text-align: center;
	padding-top: 5px;
	font-family: sans-serif;
}

.instructions button {
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.hint {
	text-align: center;
}

.score-table {
	height: 140px;
	font-family: serif;
	text-align: center;
	font-weight: bold;
}

.form-group > label {
	
	margin-top: 10px;
	text-align: left;
}

.gold {
	
	color: #e1d10f;
}

.silver {
	
	color: #e0e0e0;
}

.bronze {
	
	color: #846d60;
}

.rank_score {
	float: right;
}

.rank_line {
	border-bottom: 1px solid rgba(168,168,168,0.8) ;
}


#iniModal.modal {
  text-align: center;
  padding: 0!important;
}

#iniModal.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#iniModal > .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#spinnerModal.modal {
  text-align: center;
  padding: 0!important;
}

#spinnerModal.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#spinnerModal > .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#serverModal.modal {
     text-align: center;
     padding: 0!important;
 }


#serverModal.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

#serverModal > .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#roomModal.modal {
  text-align: center;
  padding: 0!important;
}

#roomModal.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#roomModal > .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.full-opacity { 
	background-color: #fff !important;
	opacity: 1.0 !important;
}

.highlight {
	border: 6px solid green !important;
}
