@CHARSET "UTF-8";

#letters {
	width: auto;
	height: auto;
	padding: 10px;
}

#letters button {
	margin: 5px 5px 0 0;
	width: 40px;
	height:40px;
	font-family: monospace;
	font-size: 18px;
	color: #DDDDDD;
}


