@CHARSET "UTF-8";

.spin-button button {
	position: fixed; 
	margin-left: 130px;
	margin-top: 120px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 2px 2px 2px gray;
}

.roulette-container {
	margin-top: 40px;
	margin-left: 10%;
	position: fixed;
}

.roulette {
  position: fixed;
  margin-left: 10px;
  width: 300px;
  height: 300px;
  background-color: white;
  background-image: url("../assets/roleta_12.png");
  background-size: 300px;
  border-radius: 300px;
}

.pointer {
	position: absolute;
	margin-left: 148px;
 	top: -16px;
}


.pointer > span{
	
	font-size: 30px;
	color: red;
}

/*
.pointer {
  position: absolute;
  margin: 0 auto; 
  width: 0;
  height: 0;
  left: 14.5%;
  top: -10px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 18px solid red;
  -webkit-perspective: 900000px;
  perspective: 900000px;
}
*/