@CHARSET "UTF-8";


.box {
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
	border: 2px solid black;
	background-color: white;
	display: inline-block;
	text-align: center;
	font-family: monospace;
	vertical-align: text-bottom;
	margin-right:15px;
	font-size: 24px;
	line-height: 50px;
	margin-right: 5px;
	box-shadow: 3px 3px;
}

#letterBoard ul {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    list-style: none;
}

#letterBoard {	
	height: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
}

.letters {
	visibility: hidden;
}

